/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap');

/* fonts */
.font-inter{
  font-family: "Inter", sans-serif;
};
.font-roboto{
  font-family: "Roboto", sans-serif;
};
.font-raleway{
  font-family: "Raleway", sans-serif;
};

/* colors */
.clr-primary{
  color:#030712;
}
.clr-secondary{
  color: #03071299;
}
.clr-bold{
  color:#1DD100;
}

/* backgrounds */
.seat-style{
  grid-column:span 2;
  background-color: #F7F8F8;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  padding: 12px 24px;
  cursor: pointer;
}
.seat-style:hover{
  background-color: #1DD100;
}
.bold-bg{
  background-color: #1DD100;
}
.light-bg{
  background-color: #1dd10026;
}


@media only screen and (max-width: 1023px) {
  .seat-style{
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 16px;  
  }
}
