/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap');

/* fonts */
.font-inter{
  font-family: "Inter", sans-serif;
};
.font-roboto{
  font-family: "Roboto", sans-serif;
};
.font-raleway{
  font-family: "Raleway", sans-serif;
};

/* colors */
.clr-primary{
  color:#030712;
}
.clr-secondary{
  color: #03071299;
}
.clr-bold{
  color:#1DD100;
}

/* backgrounds */
.bold-bg{
  background-color: #1DD100;
}
.light-bg{
  background-color: #1dd10026;
}